{% extends "template.html" %}

{% block conteudo %}

<form action="{{url_for('professor.salvar')}}" method="POST">
    <h2> Cadastro de Professor/Cadastro </h2>

    <hr/>

    <div class="row">
        <input type="hidden" name="id" id="id" value="{{professor.id}}"  />

        <div class="col-md-9 form-group">
            <label class="control-label">Nome</label>
            <input class="form-control" type="text" name="nome" id="nome" value="{{professor.nome}}" required />
        </div>
    
         <div class="col-md-3 form-group">
            <label class="control-label">Idade</label>
            <input class="form-control" type="number" name="idade" id="idade" value="{{professor.idade}}" required />
        </div>

        <div class="col-md-6 form-group">
            <label class="control-label">Matéria</label>
            <input class="form-control" type="text" name="materia" id="materia" value="{{professor.materia}}" required />
        </div>

        <div class="col-md-6 form-group">
            <label class="control-label">Observação</label>
            <input class="form-control" type="text" name="observacao" id="observacao" value="{{professor.observacao}}" required />
        </div>
    </div>    

    <hr/>

    <div class="row">
        <input type="submit" class="btn btn-primary" id="btnset" value="Salvar" /> 
    </div>
        
</form>

{% endblock %}